.cards {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 450px;
    height: 550px;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cards-options {
    width: 97%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.cards-options-set {
    display: flex;
    gap: 10px;
}

.shoes {
    display: flex;
    justify-content: center;
    
}

.product-list {
    display: flex;
    flex-direction: column;
 
}

.container-product {
    width: 98%;
    display: flex;
    
}

.container-options {
    width: 98%;

}

.product-top {
    display: flex;
    justify-content: center;
}


.paginationBttns {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 50px;
  }
  
  .paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #2b2eff;
    color: #2b2eff;
    cursor: pointer;
  }
  
  .paginationBttns a:hover {
    color: #fff;
    background-color: #2b2eff;
  }
  
  .paginationActive a {
    color: #fff;
    background-color: #2b2eff;
  }

  .container-productCard{
      width: 100%;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
  }

.container-productCard h2{
    font-size: 20px;
}

.card_button {
    width: 100%;
    display: flex;
    gap: 20px;
}