.sizes {
    width: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.addProduct {
    margin: 10% auto;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px 20px;
    background-color: #f5f5f5;
}

input {
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
}


.add-btn {
  background-color: initial;
  background-image: linear-gradient(-180deg, #00D775, #00BD68);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 44px;
  line-height: 44px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 20%;
  z-index: 9;
  border: 0;
}

.add-btn:hover {
  background: #00bd68;
}

