.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    padding: 20px 40px;
  }
  
  .fade-enter {
    opacity: 0;
  }
  
  .fade-enter-active {
    opacity: 1;
    transition: linear 400ms;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit-active {
    opacity: 0;
    transition: opacity 400ms;
  }

  .sidebar__buttons {
    display: flex;
    justify-content: center;
  }
  
  
  .sidebar__button {
    margin-top: 15px;
    background: transparent;
    border: 1px solid white;
    border-radius: 4px;
    color: black;
    transition: 0.3s linear;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .sidebar {
    min-width: 150px;
    background: #fff;
    padding-left: 20px;
    padding-top: 20px; 
    color: black;
    transition: 0.4s ease-in;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .sidebar-closed {
    min-width: 178.5px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar__listItem {
    margin: 20px 10px;
    display: flex;
    height: 20px;
    margin-top: 100px;
  }
  
  .sidebar__listItem span {
    white-space: nowrap;
  }
  
 
.sidebar__slider {
    display: flex;
    justify-content: center;
}

@media all and (max-width: 550px) { 
  .sidebar {
    display: none;
  }

  .sidebar__button {
    display: none;
  }

}