.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;;
    width: 100%;
}

.container-header {
    width: 95%;
}


.header-top {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.header-top-title {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.header-top-icon {
    width: 10%;
}

.header-top-title p{
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.header-mid-title p {
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}


.header-mid-search {
    display: flex;
    justify-content: center;
}

.header-mid-search input {
    display: flex;
    justify-content: center;
    border: solid 1px black;
}


.header-mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mid-bg {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;    
}


.header-mid-title {
    display: flex;
    gap: 40px;
}

.header-mid-icon {
    width: 200px;
}

.header-mid-icon svg {
    width: 60px;
}

.info {
    padding: 20px;
    display: flex;
    justify-content: center;
}

@media all and (max-width: 550px) { 
    .header-mid-search input{
        width: 40%;
        height: 10px;
    }
  
  }